body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f5ebe0; */
  color: #7d7872;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
}

main {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

main > div {
  width: 48%;
}

ul {
  max-width: 100%;
}

p {
  max-width: 80%;
}
p span {
  font-weight: bold;
}

.dogDetails {
  width: 80%;
}

