
section {
    width: 80%;
    margin: 16px auto;
}

article {
    display: inline-block;
    width: 500px;
    padding: 10px;
    margin: 4px;
    border: 5px solid purple;
}

p span {
    color: peachpuff;
}
/* #doge{
    object-fit: fill;
} */
/* #kill-bill {
    display: block;
    height: 59px;
    width: 500px;
    border: solid black 3px;
    background-color: yellow;
    margin: 0 auto;
} */