p {
    background-color: lightgray;
    font:red;
    margin: 0;
}

.container {
    display: grid;
 
}

.container p {
    
}
.header{
   
}   

.nav {
  

}

.content-row {
 
}
.main{
  

}


.left-content{
   

}

.right-content{
 
}

.footer{
   
}