.container {
    padding:20px;
    border:2px solid red;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px ;
    gap:15px
    
}
.box {
    background-color: bisque;
    border:black 2px solid;
}
p {
    color: green;
}